@import "colors";
$topbar-bg: none;
$topbar-height: rem-calc(90);
$topbar-title-font-size: rem-calc(22);
$topbar-title-weight: 400;
$topbar-link-font-size: rem-calc(17);
@import "foundation/components/top-bar";

nav.top-bar {
  background: none;
  .name {text-transform: uppercase;}
}

.top-bar-section {
  ul {background: none;}
  li:not(.has-form) a:not(.button) {background: none;}
  li:not(.has-form) a:not(.button):hover {background: lighten($topbar-wide-bg, 25%);}
}
