<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jarvis | {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
  {% if page.huge_header %}
    {% include topbar/huge.html %}
  {% else %}
    {% include topbar/default.html %}
  {% endif %}

    {{ content }}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/parallax.js"></script>
  </body>
</html>
