<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Jarvis | {{ page.title }}{% if page.title != 'Documentation' %} | Documentation {% endif %} </title>
    <link rel="stylesheet" href="/stylesheets/documentation.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    {% include topbar/default.html %}
  </div>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar show-for-small-only">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title">Menu Documentation</h1>
        </section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Documentation</label></li>
          <li><a {% if page.title == 'Documentation' %} class="active" {% endif %} href="/documentation/">Documentation Home</a></li>
          <li><a {% if page.title == 'Usage' %} class="active" {% endif %} href="/documentation/usage/">Usage</a></li>
          <li><a {% if page.title == 'Developer API' %} class="active" {% endif %} href="/documentation/developer-api/">Developer API</a></li>
          <li><a {% if page.title == 'FAQ' %} class="active" {% endif %} href="/documentation/faq/">FAQ</a></li>
        </ul>
      </aside>

    <a class="exit-off-canvas"></a>

      <div class="row">
        <div class="small-4 medium-3 columns show-for-medium-up">
          <ul class="side-nav">
            <li><a {% if page.title == 'Documentation' %} class="current" {% endif %} href="/documentation/">Documentation Home</a></li>
            <li><a {% if page.title == 'Usage' %} class="current" {% endif %} href="/documentation/usage/">Usage</a></li>
            <li><a {% if page.title == 'Developer API' %} class="current" {% endif %} href="/documentation/developer-api/">Developer API</a></li>
            <li><a {% if page.title == 'FAQ' %} class="current" {% endif %} href="/documentation/faq/">FAQ</a></li>
          </ul>
        </div>

        <section class="main-section">
          <div class="small-12 medium-9 columns">
            <div class="page-background"></div>
            <div class="row documentation">
              <div class="small-12 large-offset-1 columns">
                <h1>{{ page.title }}</h1>
                <hr>
                {% capture doc_page %}
    {{ content }}
                {% endcapture %}
                {{ doc_page | markdownify }}
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
